name: UnityBuildTest

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-webgl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: "Last Breath of Terra/Library"
          key: Library-${{ hashFiles('Last Breath of Terra/Assets/**', 'Last Breath of Terra/Packages/**', 'Last Breath of Terra/ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build (WebGL)
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          unityVersion: 2022.3.22f1
          targetPlatform: WebGL
          projectPath: "Last Breath of Terra"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL
          path: build

  deploy-itchio:
    runs-on: ubuntu-latest
    needs: build-webgl

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-WebGL
          path: build

      - name: Install butler
        run: |
          curl -L -o butler.zip https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default
          unzip butler.zip -d butler
          sudo mv butler/butler /usr/local/bin/
          butler --version

      - name: Push to itch.io
        run: |
          butler push build/WebGL PotatoTeam/attis:html5
        env:
          BUTLER_API_KEY: ${{ secrets.ITCHIO_API_KEY }}
